
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css')}}" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />


<!--<link href="https://unpkg.com/tabulator-tables@4.7.0/dist/css/tabulator.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="../static/tabulator/css/tabulator.min.css">

<link rel="stylesheet" href="../static/css/form_style.css?v={{v}}" />
<link rel="stylesheet" href="../static/css/table_style.css" />
<link rel="stylesheet" href="../static/css/progress_bar_style.css" />
<link rel="stylesheet" href="../static/css/select_2.css" />

<!-- cookiealert.css -->
<link rel="stylesheet" href="../static/css/cookiealert.css">


<link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}" type="text/css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">