{% extends "base.html" %}
{% set active_page = "" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div id='card_div' class="card card-form my-5" style="width: 32rem;">
                    <div class="card-body">
                        <h3 class="card-title text-center">Loading Sequence Similarity Network</h3>

                        <div class="progress">
                            <div class="progress-bar" id='progressbar'></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>


    <script>

        function getStatus(taskID) {
            $.get('ssn_status/' + taskID, {
            }).done(function(response) {
                const taskStatus = response.data.task_status;
                const taskProgress = response.data.task_progress;
                document.getElementById("progressbar").innerText = taskProgress

                if (taskProgress === 'started') {
                    document.getElementById("progressbar").style = "width: 50%"
                    document.getElementById("progressbar").className = "progress-bar"
                } else if (taskProgress === 'loading pre-positioned ssn') {
                    document.getElementById("progressbar").style = "width: 80%"
                } else if (taskProgress === 'positioning ssn (slow for large networks)') {
                    document.getElementById("progressbar").style = "width: 85%"
                } else if (taskProgress === 'getting pfam and rhea') {
                    document.getElementById("progressbar").style = "width: 90%"
                } else if (taskProgress === 'ssn ready') {
                    document.getElementById("progressbar").style = "width: 95"
                }

                if (taskStatus === 'finished') {
                    document.getElementById("progressbar").style = "width: 100%"
                    document.getElementById("progressbar").innerText = "Done"
                    location.reload()
                    return false;
                } else if (taskStatus === 'failed') {
                    document.getElementById("progressbar").style = "width: 50%"
                    document.getElementById("progressbar").innerText = "Failed"
                    document.getElementById("progressbar").className = "progress-bar bg-danger"
                    return false;
                } else {
                    setTimeout(function() {
                        getStatus(response.data.task_id);
                        }, 3000);
                }
            })
        }

        var task_id = '{{task_id}}'

        if (task_id !== '') {
            getStatus(task_id);
            document.getElementById("progressbar").style = "width: 33%"
            document.getElementById("progressbar").innerText = "Queuing"
        }

    </script>


{% endblock %}
