<!-- Reviewing ajax -->
<script src="{{url_for('curation.static', filename='js/ajax/reviewing_ajax.js')}}?v={{v}}" type="text/javascript"></script>

<!-- Overview page -->
<script src="{{url_for('curation.static', filename='js/ajax/overview_ajax/paper_assignment_ajax.js')}}?v={{v}}" type="text/javascript"></script>
<script src="{{url_for('curation.static', filename='js/ajax/overview_ajax/paper_issues_ajax.js')}}?v={{v}}" type="text/javascript"></script>

<!-- Paper metadata page -->
<script src="{{url_for('curation.static', filename='js/ajax/paper_metadata_ajax/crossref_pubmed_lookup_ajax.js')}}?v={{v}}" type="text/javascript"></script>
<script src="{{url_for('curation.static', filename='js/ajax/paper_metadata_ajax/update_paper_metadata_ajax.js')}}?v={{v}}" type="text/javascript"></script>

<!-- Sequences page -->
<script src="{{url_for('curation.static', filename='js/ajax/sequences_ajax/sequence_curation_ajax.js')}}?v={{v}}" type="text/javascript"></script>
<script src="{{url_for('curation.static', filename='js/ajax/sequences_ajax/upload_sequence_excel_ajax.js')}}?v={{v}}" type="text/javascript"></script>

<!-- Molecules page -->
<script src="{{ url_for('curation.static', filename='js/ajax/molecules_ajax/new_activity_molecule_ajax.js') }}?v={{v}}" type="text/javascript"></script>
<script src="{{ url_for('curation.static', filename='js/ajax/molecules_ajax/delete_activity_molecule_ajax.js') }}?v={{v}}" type="text/javascript"></script>
<script src="{{ url_for('curation.static', filename='js/ajax/molecules_ajax/update_activity_molecule_ajax.js') }}?v={{v}}" type="text/javascript"></script>
<script src="{{ url_for('curation.static', filename='js/ajax/molecules_ajax/osra_activity_molecules_ajax.js') }}?v={{v}}" type="text/javascript"></script>
<script src="{{ url_for('curation.static', filename='js/ajax/molecules_ajax/upload_molecules_excel_ajax.js') }}?v={{v}}" type="text/javascript"></script>

<!-- Activity page -->
<script src="{{ url_for('curation.static', filename='js/ajax/activity_ajax/update_activity_ajax.js') }}?v={{v}}" type="text/javascript"></script>
<script src="{{ url_for('curation.static', filename='js/ajax/activity_ajax/activity_excel_ajax.js') }}?v={{v}}" type="text/javascript"></script>
<script src="{{ url_for('curation.static', filename='js/ajax/activity_ajax/apply_reaction_rules_ajax.js') }}?v={{v}}" type="text/javascript"></script>


<!-- Admin page -->
<script src="{{ url_for('curation.static', filename='js/ajax/admin_ajax/curation_admin_ajax.js') }}?v={{v}}" type="text/javascript"></script>