
<div class="modal fade" id="formulation_modal" tabindex="-1" role="dialog" aria-labelledby="formOptionsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formOptionsLabel">Formulation query</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p><b>Solvent: </b><span id="selected_formulation"></span></p>
                <a id='link_for_formulation_activity' href=""><button class="btn btn-outline-success">Activity data with this biocatalyst formulation</button></a>

            </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>


