{% extends "base.html" %}
{% set active_page = "" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-form">
                    <div class="card-body">
                        <h3 class="text-center">Cascade tests</h3>
                        {% include 'cascade_testing/cascade_tests_tabulator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}