{% extends "base.html" %}
{% set active_page = "contributions_menu" %}

{% block content %}

    <div class="container-fluid">
        <div id="init_response_div"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card card-form my-5" style="width: 50rem;">
                    <div class="card-body" align="center">
                        <h3 class="card-title">{{test_data['test_name']}}</h3>



                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>


{% endblock %}