{% extends "base.html" %}
{% set active_page = "retrosynthesis" %}

{% block content %}
    {% from 'global/macros/form_macros.html' import number_field with context %}
    {% from 'global/macros/form_macros.html' import target_smiles with context %}
    {% from 'global/macros/form_macros.html' import number_inline with context %}
    {% from 'global/macros/form_macros.html' import checkbox with context %}
    {% from 'global/macros/form_macros.html' import select with context %}

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form id="main_form" method="POST" action="" novalidate>
                    <div class="card card-form my-5" style="width: 36rem;">
                        <div class="card-body" align="center">
                            <h3 class="card-title">MCTS explorer</h3>

                            {{ form.hidden_tag() }}

                            {{ target_smiles(form.target_smiles) }}

                            <div class="btn-group mb-4 mt-1" role="group">
                                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#example_molecules">
                                    Examples
                                </button>

                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#my_molecules_modal">
                                    My Mols
                                </button>

                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#save_molecule_modal">
                                    Save
                                </button>

                                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#fragment_modal">
                                    Fragment
                                </button>
                            </div>


                            {{ number_field(form.maxLength) }}
                            <div class="row my-2">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    {{ number_field(form.exploration) }}
                                    {{ number_field(form.max_search_time) }}
                                </div>
                                <div class="col-sm-2"></div>
                            </div>

                            <div class="row my-2"></div>

                            <div class="form-group">
                            {{ form.submit(class="btn-lg btn-block btn-success") }}
                            </div>

                            <button type="button" class="btn btn-outline-primary mt-2" data-toggle="modal" data-target="#retrosynthesis_options_modal">
                                Other options
                            </button>

                            <button type="button" class="btn btn-outline-success mt-2" data-toggle="modal" data-target="#source_mol_options_modal">
                                Source molecules
                            </button>

                            <button type="button" class="btn btn-outline-warning mt-2" data-toggle="modal" data-target="#mcts_options_modal">
                                MCTS options
                            </button>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    {% include 'retrosynthesis_options_modals/retrosynthesis_options.html' %}
    {% include 'retrosynthesis_options_modals/source_mol_options.html' %}
    {% include 'retrosynthesis_options_modals/mcts_options.html' %}
    {% include 'global/modals/modal_drawer.html' %}
    {% include 'global/modals/modal_example_molecules.html' %}

    {% include 'cascade_design_form_modals/save_molecule_modal.html' %}
    {% include 'cascade_design_form_modals/my_molecules_modal.html' %}
    {% include 'cascade_design_form_modals/fragment_modal.html' %}
    {% include 'cascade_design_form_modals/chemistry_modal.html' %}

{% endblock %}